Repository TelosLabs/rails-world: changes, and which lefthook commands are due for each by the changed paths.
All: ruby-linter, erb-linter, js-linter

ruby-linter:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

erb-linter:
  run: bundle exec erblint --lint-all {staged_files}

js-linter:
  run: standard --fix {staged_files}
  stage_fixed: true

add missing trailing line
  app/views/abuse_report_mailer/profile_report.html.erb
  app/views/static_pages/about.html.erb
  app/views/static_pages/account_deletion.html.erb
  app/views/static_pages/privacy_policy.html.erb
Due: erb-linter

add typos exception
  _typos.toml
Due: none

change mailer to use deliver_later
  app/controllers/abuse_reports_controller.rb
Due: ruby-linter

improve root view for mobile
  app/assets/stylesheets/native.css
  app/views/user_sessions/new.html.erb
Due: erb-linter

update nokogiri
  Gemfile
  Gemfile.lock
Due: none

ignor audit for thor
  .github/workflows/github-actions.yml
Due: none

feat: add forgotton password reset asset
  app/views/password_mailer/password_reset.html.erb
Due: erb-linter

feat: add forgotton password reset asset (#244)
  app/views/password_mailer/password_reset.html.erb
Due: erb-linter

Fix hover underline for multiline session titles (#240)
  app/views/sessions/_card.html.erb
Due: erb-linter

profile bio overflow (#242)
  app/views/profiles/show.html.erb
Due: erb-linter

Increase logo size
  app/views/layouts/_primary_top_nav.html.erb
Due: erb-linter

Increase logo size (#245)
  app/views/layouts/_primary_top_nav.html.erb
Due: erb-linter

Agenda Page dark mode
  app/helpers/navigation_helper.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/index.html.erb
Due: ruby-linter, erb-linter

Schedule page dark mode
  app/views/schedules/show.html.erb
Due: erb-linter

Notifications page dark mode
  app/views/notifications/index.html.erb
Due: erb-linter

Profile partial page dark mode
  app/views/profiles/show.html.erb
Due: erb-linter

Speakers page dark mode
  app/views/layouts/_secondary_top_nav.html.erb
  app/views/sessions/_status.html.erb
  app/views/speakers/show.html.erb
Due: erb-linter

Changes to various pages for details
  app/assets/images/background_design.svg
  app/views/layouts/_secondary_top_nav.html.erb
  app/views/profiles/show.html.erb
  app/views/speakers/show.html.erb
Due: erb-linter

Sesions page dark mode
  app/views/sessions/show.html.erb
Due: erb-linter

fix speaker hidden texts
  app/views/speakers/show.html.erb
Due: erb-linter

Notifications settings page dark mode
  app/views/notification_settings/show.html.erb
Due: erb-linter

Privacy Policy page dark mode
  app/views/static_pages/privacy_policy.html.erb
Due: erb-linter

fix icon colors and hidden profile text
  app/assets/images/background_design.svg
  app/assets/images/icons/location.svg
  app/views/profiles/show.html.erb
Due: erb-linter

add dark mode toggle in profile page
  app/javascript/controllers/dark_mode_controller.js
  app/views/layouts/application.html.erb
  app/views/profiles/show.html.erb
  config/tailwind.config.js
Due: erb-linter, js-linter

Adds aditional changes to the db seed rake task
  app/assets/images/speakers/RW-A_Mcnamara.jpg
  app/assets/images/speakers/RW-C-Lee.jpeg
  app/assets/images/speakers/RW-J_Boussier.jpeg
  app/assets/images/speakers/RW-M-Roth.jpeg
  lib/tasks/db.rake
Due: ruby-linter

fix: change main logo to png since email clients sometimes do not support svgs
  app/assets/images/main_logo.png
  app/views/password_mailer/password_reset.html.erb
Due: erb-linter

updated dark theme
  Gemfile.lock
  app/assets/images/icons/chevron_left.svg
  app/helpers/navigation_helper.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/_primary_top_nav.html.erb
  app/views/layouts/_secondary_top_nav.html.erb
  app/views/notification_settings/show.html.erb
  app/views/notifications/index.html.erb
  app/views/profiles/show.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/_status.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
Due: ruby-linter, erb-linter

changed code snippet to stimulus controller
  app/javascript/controllers/dark_mode_controller.js
  app/views/layouts/application.html.erb
Due: erb-linter, js-linter

fix linter warnings
  app/javascript/controllers/dark_mode_controller.js
Due: js-linter

fix function lint warning
  app/javascript/controllers/dark_mode_controller.js
Due: js-linter

fix tailwind lint
  app/javascript/controllers/dark_mode_controller.js
  config/tailwind.config.js
Due: js-linter

add guest profile page view
  app/controllers/profiles_controller.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/profiles/guest.html.erb
  config/routes.rb
Due: ruby-linter, erb-linter

add system theme to dark mode switch
  app/javascript/controllers/dark_mode_controller.js
  app/views/profiles/show.html.erb
Due: erb-linter, js-linter

Registration dark page
  app/views/registrations/new.html.erb
Due: erb-linter

Notifications dark page
  app/views/profiles/edit.html.erb
Due: erb-linter

Status codes dark mode
  app/views/sessions/_status.html.erb
Due: erb-linter

Schedule dark page
  app/views/schedules/show.html.erb
Due: erb-linter

Privacy policy dark page
  app/views/static_pages/privacy_policy.html.erb
Due: erb-linter

Delete account dark page
  app/views/static_pages/account_deletion.html.erb
Due: erb-linter

Path conditions:
  ruby-linter: any of: *.{rb,rake}
  erb-linter: any of: *.erb
  js-linter: any of: *.js
