Repository TelosLabs/rails-world: changes, and which lefthook commands are due for each by the changed paths.
All: ruby-linter, erb-linter, js-linter

ruby-linter:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

erb-linter:
  run: bundle exec erblint --lint-all {staged_files}

js-linter:
  run: standard --fix {staged_files}
  stage_fixed: true

Fix Session Reminder subject and icons path
  app/mailers/session_mailer.rb
  app/views/layouts/mailer.html.erb
  app/views/session_mailer/reminder.html.erb
  config/locales/en.yml
  public/images/calendar.png
  public/images/location.png
  public/images/main_logo.png
Due: ruby-linter, erb-linter

Migration fix
  .pnp.cjs
  app/models/session.rb
  db/migrate/20240628204535_create_sessions.rb
  db/migrate/20240826205135_remove_description_from_sessions.rb
  db/schema.rb
  spec/factories/sessions.rb
  spec/models/session_spec.rb
Due: ruby-linter

Only display bookmar if session is not over
  app/views/profiles/show.html.erb
  app/views/sessions/_card.html.erb
Due: erb-linter

Add bg white to QR code
  app/views/profiles/show.html.erb
Due: erb-linter

Minor fix
  app/views/profiles/show.html.erb
Due: erb-linter

rename colors
  app/helpers/navigation_helper.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/notification_settings/show.html.erb
  app/views/notifications/index.html.erb
  app/views/profiles/edit.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/shared/_form_errors.html.erb
  app/views/speakers/show.html.erb
  config/tailwind.config.js
Due: ruby-linter, erb-linter, js-linter

Update date in titles
  app/views/schedules/show.html.erb
  app/views/sessions/index.html.erb
Due: erb-linter

Fix anchors and default date filter
  app/helpers/session_helper.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/_header.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_status.html.erb
  app/views/sessions/index.html.erb
Due: ruby-linter, erb-linter

fix navbar position
  app/views/layouts/_bottom_navbar.html.erb
Due: erb-linter

Fix
  app/mailers/session_mailer.rb
  app/views/layouts/mailer.html.erb
  app/views/session_mailer/reminder.html.erb
Due: ruby-linter, erb-linter

Improvements
  app/controllers/schedules_controller.rb
  app/controllers/sessions_controller.rb
  app/views/schedules/show.html.erb
  app/views/sessions/index.html.erb
Due: ruby-linter, erb-linter

install password visibility package
  config/importmap.rb
  vendor/javascript/@stimulus-components--password-visibility.js
Due: ruby-linter, js-linter

Fix speaker image display on emails
  app/views/layouts/mailer.html.erb
Due: erb-linter

register the password visibility controller in the application
  app/javascript/controllers/index.js
Due: js-linter

conect data-visibility controller to the password field
  app/views/user_sessions/new.html.erb
Due: erb-linter

refactor
  app/mailers/session_mailer.rb
  app/notifiers/session_reminder_notifier.rb
  app/views/session_mailer/reminder.html.erb
Due: ruby-linter, erb-linter

add visibility toggle button
  app/views/user_sessions/new.html.erb
Due: erb-linter

fix helper
  app/helpers/session_helper.rb
Due: ruby-linter

correct colors
  config/tailwind.config.js
Due: js-linter

Refactor email icons
  app/mailers/session_mailer.rb
  app/views/session_mailer/reminder.html.erb
  public/images/calendar.png
  public/images/location.png
  public/images/main_logo.png
Due: ruby-linter, erb-linter

Fix email footer icon and asset host
  app/views/layouts/mailer.html.erb
  app/views/session_mailer/reminder.html.erb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
Due: ruby-linter, erb-linter

fix recipient
  app/mailers/session_mailer.rb
Due: ruby-linter

subject
  app/mailers/session_mailer.rb
Due: ruby-linter

Set profile bio input height to fit placeholder content
  app/views/profiles/edit.html.erb
Due: erb-linter

Update logout botton
  app/views/profiles/show.html.erb
Due: erb-linter

Fix bookmark vertical scroll position on submit
  app/javascript/controllers/preserve_scroll_controller.js
Due: js-linter

Fix bookmark turbo action
  app/javascript/controllers/preserve_scroll_controller.js
  app/views/sessions/_card.html.erb
Due: erb-linter, js-linter

Add mail png icons
  app/assets/images/icons/calendar.png
  app/assets/images/icons/location.png
  app/assets/images/main_logo.png
  app/views/session_mailer/reminder.html.erb
Due: erb-linter

improve bookmarks
  app/controllers/attendees_controller.rb
  app/views/attendees/create.turbo_stream.erb
  app/views/attendees/destroy.turbo_stream.erb
  app/views/layouts/application.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_bookmark.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/show.html.erb
Due: ruby-linter, erb-linter

fix notification image
  app/views/notifications/_notification.html.erb
Due: erb-linter

Minor improvements
  app/helpers/session_helper.rb
  app/models/conference.rb
  app/models/session.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/_header.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/_status.html.erb
Due: ruby-linter, erb-linter

Minor fixes
  app/helpers/session_helper.rb
  app/views/schedules/show.html.erb
  app/views/sessions/index.html.erb
Due: ruby-linter, erb-linter

Minor improvements
  app/helpers/session_helper.rb
  app/views/profiles/show.html.erb
  app/views/sessions/_status.html.erb
  app/views/sessions/show.html.erb
  config/tailwind.config.js
Due: ruby-linter, erb-linter, js-linter

add icons and style it in the password field
  app/assets/images/icons/eye-empty.svg
  app/assets/images/icons/eye-off.svg
  app/views/user_sessions/new.html.erb
Due: erb-linter

style eye icon hover and peer focus states
  app/views/user_sessions/new.html.erb
Due: erb-linter

improvements
  app/views/attendees/destroy.turbo_stream.erb
  app/views/layouts/application.html.erb
Due: erb-linter

Fix mail icons quality and alignmen
  app/assets/images/icons/calendar.png
  app/assets/images/icons/location.png
  app/assets/images/main_logo.png
  app/views/layouts/mailer.html.erb
  app/views/session_mailer/reminder.html.erb
Due: erb-linter

include delivered at in the p tag
  app/views/notifications/_notification.html.erb
Due: erb-linter

improve show page
  app/views/profiles/show.html.erb
Due: erb-linter

Path conditions:
  ruby-linter: any of: *.{rb,rake}
  erb-linter: any of: *.erb
  js-linter: any of: *.js
