Repository TelosLabs/rails-world: changes, and which lefthook commands are due for each by the changed paths.
All: ruby-linter, erb-linter, js-linter

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruby-linter:
      glob: "*.{rb,rake}"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true
    erb-linter:
      glob: "*.erb"
      run: bundle exec erblint --lint-all {staged_files}
    js-linter:
      glob: "*.js"
      run: standard --fix {staged_files}
      stage_fixed: true
    fix-typos:
      exclude: '\.(pdf|ttf|jpg|png|csv|cjs)$'
      run: typos --write-changes {staged_files}
      stage_fixed: true

Delete comment
  config/deploy.staging.yml
Due: none

Add logging accessory
  config/deploy.production.yml
Due: none

Revert changes
  config/deploy.production.yml
  config/deploy.staging.yml
Due: none

chore: Migrate to a different registry account (#264)
  config/deploy.production.yml
  config/deploy.yml
Due: none

general improvments
  app/assets/stylesheets/native.css
  app/views/layouts/_secondary_top_nav.html.erb
  app/views/notification_settings/show.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
  app/views/user_sessions/new.html.erb
Due: erb-linter

hide title
  app/views/layouts/application.html.erb
  app/views/user_sessions/new.html.erb
Due: erb-linter

redo title
  app/views/layouts/application.html.erb
  app/views/user_sessions/new.html.erb
Due: erb-linter

improve log out
  app/controllers/user_sessions_controller.rb
  app/helpers/navigation_helper.rb
  app/views/layouts/application.html.erb
Due: ruby-linter, erb-linter

improve log in screen
  app/assets/stylesheets/native.css
  app/views/user_sessions/new.html.erb
Due: erb-linter

remove useless css
  app/assets/stylesheets/native.css
  app/helpers/application_helper.rb
  app/views/layouts/_secondary_top_nav.html.erb
  app/views/notification_settings/show.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
  app/views/user_sessions/new.html.erb
Due: ruby-linter, erb-linter

fix redundant code and readable variables
  app/views/service_worker/service_worker.js
Due: js-linter

fix rubocop
  app/controllers/service_worker_controller.rb
  app/controllers/sessions_controller.rb
Due: ruby-linter

fix indentation and spaces
  app/views/service_worker/service_worker.js
Due: js-linter

improve code readability
  app/views/service_worker/service_worker.js
Due: js-linter

fix extra spaces
  app/views/service_worker/service_worker.js
Due: js-linter

linter fix
  app/views/service_worker/service_worker.js
Due: js-linter

fix code consistency
  app/views/service_worker/service_worker.js
Due: js-linter

Remove debugging prints
  app/views/service_worker/service_worker.js
Due: js-linter

remove unused variable
  app/views/service_worker/service_worker.js
Due: js-linter

remove empty space
  app/views/speakers/show.html.erb
Due: erb-linter

add turbo action to explore the agenda
  app/views/schedules/show.html.erb
Due: erb-linter

Fix - Dark mode flickering (#262)
  app/assets/images/icons/bookmark-full.svg
  app/assets/images/icons/bookmark-outline.svg
  app/helpers/theme_helper.rb
  app/javascript/controllers/dark_mode_controller.js
  app/javascript/utils/cookies.js
  app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/application.html.erb
  app/views/notifications/index.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_bookmark.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
  config/importmap.rb
  config/tailwind.config.js
Due: ruby-linter, erb-linter, js-linter

Enhance | hotwire native (#259)
  app/assets/stylesheets/native.css
  app/controllers/configurations_controller.rb
  app/controllers/user_sessions_controller.rb
  app/helpers/application_helper.rb
  app/helpers/navigation_helper.rb
  app/javascript/controllers/preserve_scroll_controller.js
  app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/_secondary_top_nav.html.erb
  app/views/layouts/application.html.erb
  app/views/notification_settings/show.html.erb
  app/views/profiles/show.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/index.html.erb
  app/views/user_sessions/new.html.erb
Due: ruby-linter, erb-linter, js-linter

chore: cleanup
  app/javascript/application.js
  app/views/layouts/application.html.erb
  app/views/service_worker/service_worker.js.erb
Due: erb-linter, js-linter

chore: reset rubocop version
  Gemfile.lock
Due: none

chore: revert dependency bumps
  Gemfile.lock
Due: none

feat: add offline banner
  app/controllers/service_worker_controller.rb
  app/javascript/controllers/offline_banner_controller.js
  app/views/layouts/_offline_banner.html.erb
  app/views/layouts/application.html.erb
  app/views/service_worker/offline.html.erb
  app/views/service_worker/service_worker.js.erb
Due: ruby-linter, erb-linter, js-linter

improve navigation in turbo frames
  app/javascript/controllers/reset_scroll_controller.js
  app/views/profiles/show.html.erb
  app/views/sessions/show.html.erb
Due: erb-linter, js-linter

restore url
  app/views/sessions/show.html.erb
Due: erb-linter

add meta tags
  app/javascript/controllers/reset_scroll_controller.js
  app/views/profiles/show.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
Due: erb-linter, js-linter

Setup Rate Limit for Login and Password Reset
  app/controllers/password_resets_controller.rb
  app/controllers/user_sessions_controller.rb
  config/environments/test.rb
  spec/controllers/password_resets_controller_spec.rb
  spec/controllers/user_sessions_controller_spec.rb
Due: ruby-linter

update correctly
  app/controllers/password_resets_controller.rb
  app/controllers/user_sessions_controller.rb
Due: ruby-linter

Update password_resets_controller.rb
  app/controllers/password_resets_controller.rb
Due: ruby-linter

en.yml
  app/controllers/password_resets_controller.rb
  app/controllers/user_sessions_controller.rb
  config/locales/en.yml
Due: ruby-linter

fix test
  spec/controllers/password_resets_controller_spec.rb
  spec/controllers/user_sessions_controller_spec.rb
Due: ruby-linter

Enhance | turbo frame navigation (#265)
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
Due: erb-linter

fix lint
  app/controllers/password_resets_controller.rb
  app/controllers/user_sessions_controller.rb
  spec/controllers/password_resets_controller_spec.rb
Due: ruby-linter

add helper
  spec/support/authentication_helper.rb
Due: ruby-linter
