Repository TelosLabs/rails-world: changes, and which lefthook commands are due for each by the changed paths.
All: ruby-linter, erb-linter, js-linter

ruby-linter:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

erb-linter:
  run: bundle exec erblint --lint-all {staged_files}

js-linter:
  run: standard --fix {staged_files}
  stage_fixed: true

Edit user dark page
  app/views/users/edit.html.erb
Due: erb-linter

Filters menu dark mode
  app/views/sessions/_filters.html.erb
Due: erb-linter

Password reset dark page
  app/views/password_resets/edit.html.erb
  app/views/password_resets/new.html.erb
  app/views/password_resets/post_submit.html.erb
Due: erb-linter

Guest profille theme switch change
  app/views/profiles/guest.html.erb
Due: erb-linter

Coming soon dark page
  app/views/coming_soons/show.html.erb
Due: erb-linter

Add dark theme upload profile photo
  app/views/profiles/edit.html.erb
Due: erb-linter

Fix extra spaces lint error
  app/views/profiles/guest.html.erb
  app/views/profiles/show.html.erb
Due: erb-linter

Notifications dark page
  app/views/notifications/_notification.html.erb
Due: erb-linter

Fix status color in dark mode for starting soon
  app/views/sessions/_status.html.erb
Due: erb-linter

Reupdate status colors
  app/views/sessions/_status.html.erb
Due: erb-linter

Fix file extension from .svg to .png
  app/views/coming_soons/show.html.erb
Due: erb-linter

Run headwind for class uniformity
  app/views/layouts/_primary_top_nav.html.erb
  app/views/notification_settings/show.html.erb
  app/views/notifications/index.html.erb
  app/views/password_resets/post_submit.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/guest.html.erb
  app/views/profiles/show.html.erb
  app/views/schedules/show.html.erb
  app/views/service_worker/offline.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
  app/views/static_pages/about.html.erb
  app/views/static_pages/account_deletion.html.erb
  app/views/static_pages/privacy_policy.html.erb
  app/views/user_sessions/new.html.erb
Due: erb-linter

Hide the social link when speaker doesn't have it
  app/views/speakers/show.html.erb
Due: erb-linter

Remove redundant tailwind text stye
  app/views/speakers/show.html.erb
Due: erb-linter

Add spec for speaker
  spec/system/speaker_spec.rb
Due: ruby-linter

add offline navigation
  app/controllers/service_worker_controller.rb
  app/views/service_worker/service_worker.js
  config/importmap.rb
  config/routes.rb
Due: ruby-linter, js-linter

Fix lint and security jobs
  Gemfile
  Gemfile.lock
  app/controllers/service_worker_controller.rb
Due: ruby-linter

Fix double quotes linter
  Gemfile
Due: none

Fix ESLint
  app/views/service_worker/service_worker.js
Due: js-linter

Remove semicolons ESLint
  app/views/service_worker/service_worker.js
Due: js-linter

Fix ESLint errors
  app/views/service_worker/service_worker.js
Due: js-linter

Fix spaces error in linter
  app/views/service_worker/service_worker.js
Due: js-linter

Fix extra spaces error
  app/views/service_worker/service_worker.js
Due: js-linter

Fix: Hover over Speaker card shows missing padding on left side
  app/views/sessions/_card.html.erb
Due: erb-linter

Update activerecord and activestorage to >= 8.0.2.1 for security fixes
  Gemfile
  Gemfile.lock
Due: none

Update activerecord and activestorage to >= 8.0.2.1 for security fixes (#255)
  Gemfile
  Gemfile.lock
Due: none

Adds aditional changes to the db seed rake task (#248)
  app/assets/images/speakers/RW-A_Mcnamara.jpg
  app/assets/images/speakers/RW-C-Lee.jpeg
  app/assets/images/speakers/RW-J_Boussier.jpeg
  app/assets/images/speakers/RW-M-Roth.jpeg
  lib/tasks/db.rake
Due: ruby-linter

fix: change main logo to png since email clients sometimes do not support svgs (#249)
  app/assets/images/main_logo.png
  app/views/password_mailer/password_reset.html.erb
Due: erb-linter

Fix: Hover over Speaker card shows missing padding on left side (#254)
  app/views/sessions/_card.html.erb
Due: erb-linter

Add bluesky link to user profile
  app/assets/images/bluesky.svg
  app/avo/resources/profile.rb
  app/controllers/profiles_controller.rb
  app/models/profile.rb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  db/migrate/20250823000001_add_bluesky_url_to_profiles.rb
  db/schema.rb
  spec/factories/profiles.rb
  spec/models/profile_spec.rb
  spec/system/profile_spec.rb
Due: ruby-linter, erb-linter

Make rubocop happy
  spec/system/speaker_spec.rb
Due: ruby-linter

Improve spec with trait and lazy loading
  spec/factories/profiles.rb
  spec/factories/speakers.rb
  spec/system/speaker_spec.rb
Due: ruby-linter

Fix additional space
  app/views/speakers/show.html.erb
Due: erb-linter

Hide social links on user profile whem not set
  app/views/profiles/show.html.erb
Due: erb-linter

Update profile spec
  spec/system/profile_spec.rb
Due: ruby-linter

Fixes
  app/assets/images/icons/close.svg
  app/helpers/session_helper.rb
  app/views/notification_settings/show.html.erb
  app/views/profiles/show.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/_status.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
Due: ruby-linter, erb-linter

Minor fixes
  app/assets/images/background_design.svg
  app/javascript/controllers/dark_mode_controller.js
Due: js-linter

Dark mode (#247)
  Gemfile.lock
  app/assets/images/background_design.svg
  app/assets/images/icons/chevron_left.svg
  app/assets/images/icons/close.svg
  app/assets/images/icons/location.svg
  app/controllers/profiles_controller.rb
  app/helpers/navigation_helper.rb
  app/helpers/session_helper.rb
  app/javascript/controllers/dark_mode_controller.js
  app/views/coming_soons/show.html.erb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/_primary_top_nav.html.erb
  app/views/layouts/_secondary_top_nav.html.erb
  app/views/layouts/application.html.erb
  app/views/notification_settings/show.html.erb
  app/views/notifications/_notification.html.erb
  app/views/notifications/index.html.erb
  app/views/password_resets/edit.html.erb
  app/views/password_resets/new.html.erb
  app/views/password_resets/post_submit.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/guest.html.erb
  app/views/profiles/show.html.erb
  app/views/registrations/new.html.erb
  app/views/schedules/show.html.erb
  app/views/service_worker/offline.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/_status.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
  app/views/static_pages/about.html.erb
  app/views/static_pages/account_deletion.html.erb
  app/views/static_pages/privacy_policy.html.erb
  app/views/user_sessions/new.html.erb
  app/views/users/edit.html.erb
  config/routes.rb
  config/tailwind.config.js
Due: ruby-linter, erb-linter, js-linter

Fix warmup in speakers and session pages
  app/controllers/service_worker_controller.rb
  app/views/layouts/application.html.erb
  app/views/service_worker/service_worker.js
Due: ruby-linter, erb-linter, js-linter

Path conditions:
  ruby-linter: any of: *.{rb,rake}
  erb-linter: any of: *.erb
  js-linter: any of: *.js
