Repository TelosLabs/rails-world: changes, and which lefthook commands are due for each by the changed paths.
All: ruby-linter, erb-linter, js-linter

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruby-linter:
      glob: "*.{rb,rake}"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true
    erb-linter:
      glob: "*.erb"
      run: bundle exec erblint --lint-all {staged_files}
    js-linter:
      glob: "*.js"
      run: standard --fix {staged_files}
      stage_fixed: true
    fix-typos:
      exclude: '\.(pdf|ttf|jpg|png|csv|cjs)$'
      run: typos --write-changes {staged_files}
      stage_fixed: true

fix: protect mission control route
  app/jobs/ping_job.rb
  config/application.rb
  spec/factories/users.rb
  spec/system/mission_control_jobs_spec.rb
Due: ruby-linter

order keys in alph order, make staging user aws and introduce development deploy yml
  .kamal/secrets.production
  .kamal/secrets.staging
  config/deploy.development.yml
  config/deploy.staging.yml
  config/environments/staging.rb
Due: ruby-linter

add development kamal secrets file
  .kamal/secrets.development
  bin/setup
Due: none

additional edits
  .env.template
  .kamal/secrets.development
  .kamal/secrets.production
  .kamal/secrets.staging
  README.md
Due: none

remove all development files, decided not to use it
  .env.template
  bin/setup
  config/deploy.development.yml
Due: none

feat: migrate to kamal 2
  .env.template
  .kamal/hooks/docker-setup.sample
  .kamal/hooks/post-app-boot.sample
  .kamal/hooks/post-deploy.sample
  .kamal/hooks/post-proxy-reboot.sample
  .kamal/hooks/post-traefik-reboot.sample
  .kamal/hooks/pre-app-boot.sample
  .kamal/hooks/pre-build.sample
  .kamal/hooks/pre-connect.sample
  .kamal/hooks/pre-deploy.sample
  .kamal/hooks/pre-proxy-reboot.sample
  .kamal/hooks/pre-traefik-reboot.sample
  .kamal/secrets.production
  .kamal/secrets.staging
  Gemfile
  Gemfile.lock
  README.md
  bin/setup
  config/deploy.production.yml
  config/deploy.staging.yml
  config/deploy.yml
  config/environments/production.rb
  config/environments/staging.rb
  config/storage.yml
Due: ruby-linter

feat: migrate to kamal 2 (#212)
  .env.template
  .kamal/hooks/docker-setup.sample
  .kamal/hooks/post-app-boot.sample
  .kamal/hooks/post-deploy.sample
  .kamal/hooks/post-proxy-reboot.sample
  .kamal/hooks/post-traefik-reboot.sample
  .kamal/hooks/pre-app-boot.sample
  .kamal/hooks/pre-build.sample
  .kamal/hooks/pre-connect.sample
  .kamal/hooks/pre-deploy.sample
  .kamal/hooks/pre-proxy-reboot.sample
  .kamal/hooks/pre-traefik-reboot.sample
  .kamal/secrets.production
  .kamal/secrets.staging
  Gemfile
  Gemfile.lock
  README.md
  bin/setup
  config/deploy.production.yml
  config/deploy.staging.yml
  config/deploy.yml
  config/environments/production.rb
  config/environments/staging.rb
  config/storage.yml
Due: ruby-linter

hotwire native (#216)
  app/assets/stylesheets/native.css
  app/controllers/configurations_controller.rb
  app/controllers/profiles_controller.rb
  app/policies/profile_policy.rb
  app/views/abouts/show.html.erb
  app/views/coming_soons/show.html.erb
  app/views/layouts/_secondary_top_nav.html.erb
  app/views/layouts/application.html.erb
  app/views/notification_settings/show.html.erb
  app/views/notifications/index.html.erb
  app/views/password_resets/edit.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/registrations/new.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_bookmark.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
  app/views/user_sessions/new.html.erb
  app/views/users/edit.html.erb
  config/locales/en.yml
  config/routes.rb
  lib/tasks/db.rake
Due: ruby-linter, erb-linter

add al speaker info according to latest available document
  db/seeds.rb
  lib/tasks/db.rake
Due: ruby-linter

Add missing env variables and update kamal production config
  .env.template
  .kamal/secrets.production
  .kamal/secrets.staging
  config/deploy.production.yml
  config/deploy.staging.yml
Due: none

Add missing env variables and update kamal production config (#224)
  .env.template
  .kamal/secrets.production
  .kamal/secrets.staging
  config/deploy.production.yml
  config/deploy.staging.yml
Due: none

add al speaker info according to latest available document
  app/assets/images/speakers/RW-David.jpeg
  app/assets/images/speakers/RW-Hiroshi_Shibata.jpeg
  db/seeds.rb
  lib/tasks/db.rake
Due: ruby-linter

align logo with comming_soon page
  app/views/user_sessions/new.html.erb
Due: erb-linter

feat: update splashscreens & logo's
  app/assets/images/homescreen_icon.png
  app/assets/images/icons/favicon.svg
  app/assets/images/main_logo.png
  app/assets/images/main_logo.svg
  app/assets/images/main_logo_with_date.svg
  app/assets/images/profile_alan.jpg
  app/assets/images/profile_alicia.png
  app/assets/images/profile_andres.png
  app/assets/images/profile_carlos.jpg
  app/assets/images/profile_edgar.jpg
  app/assets/images/profile_jordan.png
  app/assets/images/profile_jose_fernando.jpg
  app/assets/images/profile_luigi.png
  app/assets/images/profile_sergio.jpg
  app/assets/images/splashscreen_icon.png
  app/assets/images/splashscreens/iPad_Mini_Air.png
  app/assets/images/splashscreens/iPad_Mini_Air_2.png
  app/assets/images/splashscreens/iPad_Pro.png
  app/assets/images/splashscreens/iPad_Pro_11.png
  app/assets/images/splashscreens/iPhone_12_Mini.png
  app/assets/images/splashscreens/iPhone_12_Pro.png
  app/assets/images/splashscreens/iPhone_12_Pro_Max.png
  app/assets/images/splashscreens/iPhone_13_Mini.png
  app/assets/images/splashscreens/iPhone_13_Pro.png
  app/assets/images/splashscreens/iPhone_13_Pro_Max.png
  app/assets/images/splashscreens/iPhone_14.png
  app/assets/images/splashscreens/iPhone_14_Plus.png
  app/assets/images/splashscreens/iPhone_14_Pro.png
  app/assets/images/splashscreens/iPhone_14_Pro_Max.png
  app/assets/images/splashscreens/iPhone_6Plus_6sPlus_7Plus_8Plus.png
  app/assets/images/splashscreens/iPhone_6_6s_7_8.png
  app/assets/images/splashscreens/iPhone_X_XS_11_Pro.png
  app/assets/images/splashscreens/iPhone_Xr_11.png
  app/assets/images/splashscreens/iPhone_XsMax_11_ProMax.png
Due: none

Update app/views/user_sessions/new.html.erb
  app/views/user_sessions/new.html.erb
Due: erb-linter

Update splash screens & logo's (#225)
  app/assets/images/homescreen_icon.png
  app/assets/images/icons/favicon.svg
  app/assets/images/main_logo.png
  app/assets/images/main_logo.svg
  app/assets/images/main_logo_with_date.svg
  app/assets/images/profile_alan.jpg
  app/assets/images/profile_alicia.png
  app/assets/images/profile_andres.png
  app/assets/images/profile_carlos.jpg
  app/assets/images/profile_edgar.jpg
  app/assets/images/profile_jordan.png
  app/assets/images/profile_jose_fernando.jpg
  app/assets/images/profile_luigi.png
  app/assets/images/profile_sergio.jpg
  app/assets/images/splashscreen_icon.png
  app/assets/images/splashscreens/iPad_Mini_Air.png
  app/assets/images/splashscreens/iPad_Mini_Air_2.png
  app/assets/images/splashscreens/iPad_Pro.png
  app/assets/images/splashscreens/iPad_Pro_11.png
  app/assets/images/splashscreens/iPhone_12_Mini.png
  app/assets/images/splashscreens/iPhone_12_Pro.png
  app/assets/images/splashscreens/iPhone_12_Pro_Max.png
  app/assets/images/splashscreens/iPhone_13_Mini.png
  app/assets/images/splashscreens/iPhone_13_Pro.png
  app/assets/images/splashscreens/iPhone_13_Pro_Max.png
  app/assets/images/splashscreens/iPhone_14.png
  app/assets/images/splashscreens/iPhone_14_Plus.png
  app/assets/images/splashscreens/iPhone_14_Pro.png
  app/assets/images/splashscreens/iPhone_14_Pro_Max.png
  app/assets/images/splashscreens/iPhone_6Plus_6sPlus_7Plus_8Plus.png
  app/assets/images/splashscreens/iPhone_6_6s_7_8.png
  app/assets/images/splashscreens/iPhone_X_XS_11_Pro.png
  app/assets/images/splashscreens/iPhone_Xr_11.png
  app/assets/images/splashscreens/iPhone_XsMax_11_ProMax.png
  app/views/user_sessions/new.html.erb
Due: erb-linter

Add optimized images
  app/assets/images/speakers/RW-Aaron_Patterson.jpg
  app/assets/images/speakers/RW-Adrianna_Chang.jpg
  app/assets/images/speakers/RW-Austin_Story.jpg
  app/assets/images/speakers/RW-Chris_Oliver.jpg
  app/assets/images/speakers/RW-David.jpeg
  app/assets/images/speakers/RW-Donal_McBreen.jpg
  app/assets/images/speakers/RW-Hartley_McGuire.jpg
  app/assets/images/speakers/RW-Hiroshi_Shibata.jpeg
  app/assets/images/speakers/RW-Jack_Sharkey.png
  app/assets/images/speakers/RW-Jason_Meller.jpg
  app/assets/images/speakers/RW-Joe_Masilotti.jpg
  app/assets/images/speakers/RW-Katarina_Rossi.png
  app/assets/images/speakers/RW-Kevin_McConnell.jpg
  app/assets/images/speakers/RW-Kinsey_Durham_Grace.jpg
  app/assets/images/speakers/RW-Masafumi_Okura.jpg
  app/assets/images/speakers/RW-Mike_Dalessio.jpg
  app/assets/images/speakers/RW-Miles_McGuire.jpg
  app/assets/images/speakers/RW-Pawel_Strzalkowski.jpg
  app/assets/images/speakers/RW-Peter-Zhu.png
  app/assets/images/speakers/RW-Radan_Skoric.jpg
  app/assets/images/speakers/RW-Rosa_Gutierrez.jpg
  app/assets/images/speakers/RW-Snehal_Ahire.jpg
  app/assets/images/speakers/RW-Xavier_Noria.jpg
Due: none

Further optimization
  app/assets/images/speakers/RW-Aaron_Patterson.jpg
  app/assets/images/speakers/RW-Adrianna_Chang.jpg
  app/assets/images/speakers/RW-Austin_Story.jpg
  app/assets/images/speakers/RW-Chris_Oliver.jpg
  app/assets/images/speakers/RW-David.jpeg
  app/assets/images/speakers/RW-Donal_McBreen.jpg
  app/assets/images/speakers/RW-Hartley_McGuire.jpg
  app/assets/images/speakers/RW-Hiroshi_Shibata.jpeg
  app/assets/images/speakers/RW-Jack_Sharkey.png
  app/assets/images/speakers/RW-Jason_Meller.jpg
  app/assets/images/speakers/RW-Joe_Masilotti.jpg
  app/assets/images/speakers/RW-Kevin_McConnell.jpg
  app/assets/images/speakers/RW-Kinsey_Durham_Grace.jpg
  app/assets/images/speakers/RW-Masafumi_Okura.jpg
  app/assets/images/speakers/RW-Mike_Dalessio.jpg
  app/assets/images/speakers/RW-Miles_McGuire.jpg
  app/assets/images/speakers/RW-Pawel_Strzalkowski.jpg
  app/assets/images/speakers/RW-Peter-Zhu.png
  app/assets/images/speakers/RW-Radan_Skoric.jpg
  app/assets/images/speakers/RW-Rosa_Gutierrez.jpg
  app/assets/images/speakers/RW-Snehal_Ahire.jpg
  app/assets/images/speakers/RW-Xavier_Noria.jpg
Due: none

Resize and crop
  app/assets/images/speakers/RW-Aaron_Patterson.jpg
  app/assets/images/speakers/RW-Adrianna_Chang.jpg
  app/assets/images/speakers/RW-Austin_Story.jpg
  app/assets/images/speakers/RW-Chris_Oliver.jpg
  app/assets/images/speakers/RW-David.jpeg
  app/assets/images/speakers/RW-Donal_McBreen.jpg
  app/assets/images/speakers/RW-Hartley_McGuire.jpg
  app/assets/images/speakers/RW-Hiroshi_Shibata.jpeg
  app/assets/images/speakers/RW-Jack_Sharkey.png
  app/assets/images/speakers/RW-Jason_Meller.jpg
  app/assets/images/speakers/RW-Joe_Masilotti.jpg
  app/assets/images/speakers/RW-Katarina_Rossi.png
  app/assets/images/speakers/RW-Kevin_McConnell.jpg
  app/assets/images/speakers/RW-Kinsey_Durham_Grace.jpg
  app/assets/images/speakers/RW-Masafumi_Okura.jpg
  app/assets/images/speakers/RW-Mike_Dalessio.jpg
  app/assets/images/speakers/RW-Miles_McGuire.jpg
  app/assets/images/speakers/RW-Pawel_Strzalkowski.jpg
  app/assets/images/speakers/RW-Peter-Zhu.png
  app/assets/images/speakers/RW-Radan_Skoric.jpg
  app/assets/images/speakers/RW-Rosa_Gutierrez.jpg
  app/assets/images/speakers/RW-Snehal_Ahire.jpg
  app/assets/images/speakers/RW-Xavier_Noria.jpg
Due: none

Change log in logo
  app/assets/images/main_logo_with_date.png
  app/assets/images/main_logo_with_date.svg
  app/views/user_sessions/new.html.erb
Due: erb-linter

Add optimized speaker images (#231)
  app/assets/images/main_logo_with_date.png
  app/assets/images/main_logo_with_date.svg
  app/assets/images/speakers/RW-Aaron_Patterson.jpg
  app/assets/images/speakers/RW-Adrianna_Chang.jpg
  app/assets/images/speakers/RW-Austin_Story.jpg
  app/assets/images/speakers/RW-Chris_Oliver.jpg
  app/assets/images/speakers/RW-David.jpeg
  app/assets/images/speakers/RW-Donal_McBreen.jpg
  app/assets/images/speakers/RW-Hartley_McGuire.jpg
  app/assets/images/speakers/RW-Hiroshi_Shibata.jpeg
  app/assets/images/speakers/RW-Jack_Sharkey.png
  app/assets/images/speakers/RW-Jason_Meller.jpg
  app/assets/images/speakers/RW-Joe_Masilotti.jpg
  app/assets/images/speakers/RW-Katarina_Rossi.png
  app/assets/images/speakers/RW-Kevin_McConnell.jpg
  app/assets/images/speakers/RW-Kinsey_Durham_Grace.jpg
  app/assets/images/speakers/RW-Masafumi_Okura.jpg
  app/assets/images/speakers/RW-Mike_Dalessio.jpg
  app/assets/images/speakers/RW-Miles_McGuire.jpg
  app/assets/images/speakers/RW-Pawel_Strzalkowski.jpg
  app/assets/images/speakers/RW-Peter-Zhu.png
  app/assets/images/speakers/RW-Radan_Skoric.jpg
  app/assets/images/speakers/RW-Rosa_Gutierrez.jpg
  app/assets/images/speakers/RW-Snehal_Ahire.jpg
  app/assets/images/speakers/RW-Xavier_Noria.jpg
  app/views/user_sessions/new.html.erb
Due: erb-linter

unhide delete account button for web
  app/views/profiles/show.html.erb
Due: erb-linter

unhide delete account button for web (#232)
  app/views/profiles/show.html.erb
Due: erb-linter

add new page for info about how to delete your account
  app/controllers/account_deletions_controller.rb
  app/views/account_deletions/show.html.erb
  config/routes.rb
Due: ruby-linter, erb-linter

added a trailing newline at the end
  app/views/account_deletions/show.html.erb
Due: erb-linter

add new page for info about how to delete your account (#233)
  app/controllers/account_deletions_controller.rb
  app/views/account_deletions/show.html.erb
  config/routes.rb
Due: ruby-linter, erb-linter

Fix hover underline for multiline session titles
  app/views/sessions/_card.html.erb
Due: erb-linter

allow unauthenticated access to the account delition page
  app/controllers/account_deletions_controller.rb
Due: ruby-linter

profile bio overflow
  app/views/profiles/show.html.erb
Due: erb-linter

allow unauthenticated access to the account delition page (#241)
  app/controllers/account_deletions_controller.rb
Due: ruby-linter

refactor static pages
  app/controllers/abouts_controller.rb
  app/controllers/account_deletions_controller.rb
  app/controllers/static_pages_controller.rb
  app/views/static_pages/about.html.erb
  app/views/static_pages/account_deletion.html.erb
  app/views/static_pages/privacy_policy.html.erb
  config/routes.rb
Due: ruby-linter, erb-linter

add report button
  app/controllers/abuse_reports_controller.rb
  app/mailers/abuse_report_mailer.rb
  app/notifiers/profile_report_notifier.rb
  app/views/abuse_report_mailer/profile_report.html.erb
  app/views/profiles/show.html.erb
  config/locales/en.yml
  config/routes.rb
Due: ruby-linter, erb-linter

standarize uuid
  app/controllers/abuse_reports_controller.rb
  app/views/profiles/show.html.erb
  config/routes.rb
Due: ruby-linter, erb-linter
