Repository TelosLabs/rails-world: changes, and which lefthook commands are due for each by the changed paths.
All: ruby-linter, erb-linter, js-linter

ruby-linter:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

erb-linter:
  run: bundle exec erblint --lint-all {staged_files}

js-linter:
  run: standard --fix {staged_files}
  stage_fixed: true

Make whole session card clickable
  app/views/layouts/_bottom_navbar.html.erb
  app/views/sessions/_card.html.erb
Due: erb-linter

Session card clickable
  app/views/sessions/_card.html.erb
  app/views/sessions/index.html.erb
Due: erb-linter

Add z index to filters on My schedule
  app/views/schedules/show.html.erb
Due: erb-linter

Add links
  app/avo/resources/conference.rb
  app/avo/resources/location.rb
  app/avo/resources/session.rb
  app/avo/resources/speaker.rb
  app/avo/resources/tag.rb
  app/avo/resources/user.rb
Due: ruby-linter

Implement friendly id for profiles
  app/controllers/profiles_controller.rb
  app/controllers/registrations_controller.rb
  app/decorators/profile_decorator.rb
  app/models/profile.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/main/index.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  config/routes.rb
  db/migrate/20240828181250_add_slug_to_profiles.rb
  db/schema.rb
  spec/controllers/profiles_controller_spec.rb
  spec/controllers/registrations_controller_spec.rb
  spec/factories/profiles.rb
  spec/models/profile_spec.rb
Due: ruby-linter, erb-linter

Add offline fallback
  app/assets/images/icons/no_wifi.svg
  app/controllers/service_worker_controller.rb
  app/views/service_worker/offline.html.erb
  app/views/service_worker/service_worker.js
  config/routes.rb
Due: ruby-linter, erb-linter, js-linter

Improvements
  app/models/profile.rb
  lib/tasks/profiles.rake
Due: ruby-linter

Add friendly id to avo profiles
  app/avo/resources/profile.rb
  spec/controllers/profiles_controller_spec.rb
Due: ruby-linter

Add slug uniqueness validator
  app/models/profile.rb
Due: ruby-linter

Fix active nav bar link
  app/helpers/navigation_helper.rb
  app/views/layouts/_bottom_navbar.html.erb
Due: ruby-linter, erb-linter

Update session reminder mail subject
  app/mailers/session_mailer.rb
  app/notifiers/session_reminder_notifier.rb
  app/views/session_mailer/reminder.html.erb
Due: ruby-linter, erb-linter

Update active bottom nav bar link to use #starts_with?
  app/helpers/navigation_helper.rb
  app/views/layouts/_bottom_navbar.html.erb
Due: ruby-linter, erb-linter

Update no wifi icon
  app/assets/images/icons/no_wifi.svg
Due: none

Add missing design
  app/views/layouts/mailer.html.erb
  app/views/password_mailer/password_reset.html.erb
Due: erb-linter

Add feature flag to only allow sign up for tester users
  .env.template
  app/models/user.rb
Due: ruby-linter

Update .env.template
  .env.template
Due: none

Review comments
  app/mailers/password_mailer.rb
  app/views/password_mailer/password_reset.html.erb
  config/locales/en.yml
Due: ruby-linter, erb-linter

Register new env variable
  config/deploy.production.yml
  config/deploy.staging.yml
Due: none

Refactor info feature flag
  .env.template
  app/models/user.rb
  config/deploy.production.yml
  config/deploy.staging.yml
Due: ruby-linter

Fix z-index
  app/views/schedules/show.html.erb
  app/views/sessions/index.html.erb
Due: erb-linter

add guest mode
  app/avo/resources/session.rb
  app/constraints/authenticated_constraint.rb
  app/constraints/unauthenticated_constraint.rb
  app/controllers/abouts_controller.rb
  app/controllers/concerns/authentication.rb
  app/controllers/sessions_controller.rb
  app/controllers/speakers_controller.rb
  app/helpers/navigation_helper.rb
  app/models/session.rb
  app/queries/session_query.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/application.html.erb
  app/views/sessions/index.html.erb
  app/views/speakers/show.html.erb
  app/views/user_sessions/new.html.erb
  config/routes.rb
  db/migrate/20240829165208_add_public_to_sessions.rb
  db/schema.rb
  spec/factories/sessions.rb
  spec/models/session_spec.rb
Due: ruby-linter, erb-linter

ci
  app/constraints/authenticated_constraint.rb
  app/constraints/unauthenticated_constraint.rb
  app/controllers/concerns/authentication.rb
  app/helpers/navigation_helper.rb
  app/views/layouts/_bottom_navbar.html.erb
  config/locales/en.yml
  config/routes.rb
Due: ruby-linter, erb-linter

Eliminate some N+1s
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/schedules_controller.rb
  app/controllers/sessions_controller.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
Due: ruby-linter, erb-linter

Update 404 and 500 views
  public/404.html
  public/500.html
Due: none

Add missing safe navigation operators
  app/controllers/sessions_controller.rb
  app/queries/session_query.rb
  app/views/sessions/_filters.html.erb
Due: ruby-linter, erb-linter

Handle invalid auth token
  app/controllers/application_controller.rb
  config/locales/en.yml
  lib/tasks/db.rake
Due: ruby-linter

Add more error views
  public/406-unsupported-browser.html
  public/422.html
Due: none

Add button to trigger PWA install prompt
  app/javascript/controllers/pwa_install_prompt_controller.js
  app/views/user_sessions/new.html.erb
Due: erb-linter, js-linter

fix linterns
  app/javascript/controllers/pwa_install_prompt_controller.js
Due: js-linter

Fix header and bottom navbar positioning
  app/assets/stylesheets/application.tailwind.css
  app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/application.html.erb
Due: erb-linter

Update about page
  app/assets/images/intersection_lines.svg
  app/assets/images/telos_labs_logo.svg
  app/views/abouts/show.html.erb
Due: erb-linter

Add back button to certain views
  app/assets/images/icons/chevron_left.svg
  app/helpers/navigation_helper.rb
  app/views/layouts/_header.html.erb
Due: ruby-linter, erb-linter

update UI
  app/views/user_sessions/new.html.erb
Due: erb-linter

Position back btn
  app/views/layouts/_header.html.erb
Due: erb-linter

Update app/views/layouts/application.html.erb
  app/views/layouts/application.html.erb
Due: erb-linter

feedback
  app/helpers/navigation_helper.rb
  app/views/layouts/_header.html.erb
Due: ruby-linter, erb-linter

Fix typos
  public/404.html
  public/422.html
  public/500.html
Due: none

Remove top margin
  public/404.html
  public/406-unsupported-browser.html
  public/422.html
  public/500.html
Due: none

update bookmark partial
  app/views/sessions/_bookmark.html.erb
Due: erb-linter

typo
  public/404.html
  public/406-unsupported-browser.html
Due: none

Path conditions:
  ruby-linter: any of: *.{rb,rake}
  erb-linter: any of: *.erb
  js-linter: any of: *.js
