Repository TelosLabs/rails-world: changes, and which lefthook commands are due for each by the changed paths.
All: ruby-linter, erb-linter, js-linter

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruby-linter:
      glob: "*.{rb,rake}"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true
    erb-linter:
      glob: "*.erb"
      run: bundle exec erblint --lint-all {staged_files}
    js-linter:
      glob: "*.js"
      run: standard --fix {staged_files}
      stage_fixed: true
    fix-typos:
      exclude: '\.(pdf|ttf|jpg|png|csv|cjs)$'
      run: typos --write-changes {staged_files}
      stage_fixed: true

upload screenshots as artifacts
  .github/workflows/github-actions.yml
Due: none

Fix github actions env
  .github/workflows/github-actions.yml
Due: none

Reduce the font weight of rich text links
  app/assets/stylesheets/actiontext.css
Due: none

Update
  app/views/sessions/_filters.html.erb
  lib/tasks/db.rake
  spec/system/agenda_spec.rb
Due: ruby-linter, erb-linter

Update prod seeds
  lib/tasks/db.rake
Due: ruby-linter

revert
  lib/tasks/db.rake
Due: ruby-linter

add missing descriptions
  lib/tasks/db.rake
Due: ruby-linter

Split back button and header
  app/views/layouts/_back_button.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/application.html.erb
Due: erb-linter

Fix linterns
  app/views/layouts/_back_button.html.erb
  app/views/layouts/_header.html.erb
Due: erb-linter

Revert make the last session card sticky
  app/views/schedules/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/index.html.erb
Due: erb-linter

Add mb based on viewport height
  app/views/schedules/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/index.html.erb
Due: erb-linter

Redirect to the original request path after login
  app/controllers/concerns/authentication.rb
  app/controllers/user_sessions_controller.rb
  app/views/user_session_settings/edit.html.erb
  config/routes.rb
Due: ruby-linter, erb-linter

Rename user controller
  app/controllers/users_controller.rb
  app/views/users/edit.html.erb
  config/locales/en.yml
  config/routes.rb
Due: ruby-linter, erb-linter

Update only password
  app/controllers/users_controller.rb
  app/views/users/edit.html.erb
Due: ruby-linter, erb-linter

Update password hint copy
  app/views/users/edit.html.erb
Due: erb-linter

Adjust missing views
  app/assets/stylesheets/application.tailwind.css
  app/helpers/navigation_helper.rb
  app/views/layouts/_back_button.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/application.html.erb
  app/views/notification_settings/show.html.erb
  app/views/password_resets/edit.html.erb
  app/views/password_resets/new.html.erb
  app/views/password_resets/post_submit.html.erb
  app/views/profiles/edit.html.erb
  app/views/registrations/new.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
Due: ruby-linter, erb-linter

Revert redirecting users to original request after login
  app/controllers/concerns/authentication.rb
  app/controllers/user_sessions_controller.rb
Due: ruby-linter

Fix navbar showing up on unauthenticated root path
  app/helpers/navigation_helper.rb
Due: ruby-linter

Styling
  app/views/profiles/edit.html.erb
  app/views/users/edit.html.erb
Due: erb-linter

Small fixes
  app/views/users/edit.html.erb
Due: erb-linter

Renamed classes
  app/assets/stylesheets/application.tailwind.css
  app/views/layouts/_back_button.html.erb
  app/views/notification_settings/show.html.erb
  app/views/notifications/index.html.erb
  app/views/password_resets/edit.html.erb
  app/views/password_resets/new.html.erb
  app/views/password_resets/post_submit.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/registrations/new.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
  app/views/users/edit.html.erb
Due: erb-linter

Small adjustments
  app/assets/stylesheets/application.tailwind.css
  app/views/layouts/_back_button.html.erb
  app/views/sessions/_filters.html.erb
Due: erb-linter

Small fix
  app/views/user_sessions/new.html.erb
Due: erb-linter

Prevent avatar from shrinking
  app/views/profiles/show.html.erb
Due: erb-linter

Update README rails version and fix .env creation on bin/setup
  .env.template
  README.md
Due: none

Allow easy access to customize styling colors
  README.md
  app/helpers/navigation_helper.rb
  app/views/coming_soons/show.html.erb
  app/views/layouts/_back_button.html.erb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/_header.html.erb
  app/views/notification_settings/show.html.erb
  app/views/notifications/index.html.erb
  app/views/password_resets/edit.html.erb
  app/views/password_resets/new.html.erb
  app/views/password_resets/post_submit.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/registrations/new.html.erb
  app/views/schedules/show.html.erb
  app/views/service_worker/offline.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/shared/_form_errors.html.erb
  app/views/speakers/show.html.erb
  app/views/user_sessions/new.html.erb
  app/views/users/edit.html.erb
  config/tailwind.config.js
Due: ruby-linter, erb-linter, js-linter

fix closing elements
  app/views/coming_soons/show.html.erb
  app/views/sessions/show.html.erb
Due: erb-linter

Disable form buttons and better errors
  app/javascript/controllers/scroll_to_controller.js
  app/views/layouts/_header.html.erb
  app/views/profiles/edit.html.erb
  app/views/registrations/new.html.erb
  app/views/shared/_form_errors.html.erb
  app/views/user_sessions/new.html.erb
  app/views/users/edit.html.erb
Due: erb-linter, js-linter

Fix bookmark icon height
  app/assets/images/icons/bookmark-full.svg
Due: none

Update flash position to account for safe area on iOS
  app/views/layouts/_flash_message.html.erb
Due: erb-linter

Add missing param
  app/controllers/schedules_controller.rb
Due: ruby-linter

Clean assets and update README
  README.md
  app/assets/images/home_screen_icon.png
  app/assets/images/logo.png
  app/assets/images/logo.svg
  app/assets/images/main_logo.svg
  app/assets/images/main_logo_with_date.svg
  app/assets/images/profile_alan.jpg
  app/assets/images/profile_alicia.png
  app/assets/images/profile_andres.png
  app/assets/images/profile_carlos.jpg
  app/assets/images/profile_edgar.jpg
  app/assets/images/profile_jordan.png
  app/assets/images/profile_jose_fernando.jpg
  app/assets/images/profile_luigi.png
  app/assets/images/profile_sergio.jpg
  app/assets/images/rails_world_logo.svg
  app/views/coming_soons/show.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/mailer.html.erb
  app/views/password_mailer/password_reset.html.erb
  app/views/service_worker/manifest.json.erb
  app/views/session_mailer/reminder.html.erb
  app/views/user_sessions/new.html.erb
  config/tailwind.config.js
  public/pwa_home_screen_icon.png
Due: erb-linter, js-linter

updated README with notifications settings
  README.md
Due: none

Allow to set time zone
  .env.template
  README.md
  config/application.rb
  config/deploy.production.yml
  config/deploy.staging.yml
Due: ruby-linter

update README
  README.md
Due: none

update README for PWA configuration
  README.md
Due: none

Titles are now based on current conference name
  app/controllers/application_controller.rb
  app/mailers/password_mailer.rb
  app/models/current.rb
  app/views/abouts/show.html.erb
  app/views/coming_soons/show.html.erb
  app/views/layouts/application.html.erb
  app/views/notification_settings/show.html.erb
  app/views/notifications/index.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
  config/locales/en.yml
Due: ruby-linter, erb-linter

add undo button in the flash partial
  app/controllers/attendees_controller.rb
  app/views/layouts/_flash_message.html.erb
  config/routes.rb
Due: ruby-linter, erb-linter
