Repository TelosLabs/rails-world: changes, and which lefthook commands are due for each by the changed paths.
All: ruby-linter, erb-linter, js-linter

ruby-linter:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

erb-linter:
  run: bundle exec erblint --lint-all {staged_files}

js-linter:
  run: standard --fix {staged_files}
  stage_fixed: true

fix redirect path call in authentication concern
  app/controllers/concerns/authentication.rb
Due: ruby-linter

Add condition to avoid error
  app/views/profiles/edit.html.erb
Due: erb-linter

create render notice partial view helper
  app/controllers/attendees_controller.rb
  app/helpers/application_helper.rb
  app/views/layouts/_flash_message.html.erb
  app/views/layouts/application.html.erb
Due: ruby-linter, erb-linter

add the undo logic
  app/controllers/attendees_controller.rb
  config/locales/en.yml
Due: ruby-linter

revert adding view helper
  app/controllers/attendees_controller.rb
  app/helpers/application_helper.rb
  app/views/layouts/_flash_message.html.erb
  app/views/layouts/application.html.erb
Due: ruby-linter, erb-linter

Add Session model specs
  app/models/session.rb
  spec/models/session_spec.rb
Due: ruby-linter

fix: linter error
  app/views/layouts/_flash_message.html.erb
Due: erb-linter

Update readme
  README.md
Due: none

Add missing titles in pages
  app/mailers/password_mailer.rb
  app/views/password_resets/edit.html.erb
  app/views/password_resets/new.html.erb
  app/views/registrations/new.html.erb
  app/views/user_sessions/new.html.erb
  app/views/users/edit.html.erb
  config/locales/en.yml
Due: ruby-linter, erb-linter

small fixes
  README.md
  app/assets/images/camera.svg
  app/assets/images/icons/chevron_left.svg
  app/builders/application_form_builder.rb
  app/views/profiles/edit.html.erb
Due: ruby-linter, erb-linter

Upgrade puma
  Gemfile.lock
Due: none

Update dependencies
  Gemfile.lock
Due: none

Refactor layout
  app/helpers/navigation_helper.rb
  app/views/abouts/show.html.erb
  app/views/layouts/_primary_top_nav.html.erb
  app/views/layouts/_secondary_top_nav.html.erb
  app/views/layouts/application.html.erb
  app/views/notification_settings/show.html.erb
  app/views/notifications/index.html.erb
  app/views/password_resets/new.html.erb
  app/views/passwords/edit.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/registrations/new.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/shared/_form_errors.html.erb
  app/views/speakers/show.html.erb
  app/views/user_sessions/new.html.erb
  app/views/users/edit.html.erb
Due: ruby-linter, erb-linter

Fix password bug
  app/controllers/registrations_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/profiles/edit.html.erb
  app/views/users/edit.html.erb
Due: ruby-linter, erb-linter

Fix specs
  app/views/registrations/new.html.erb
  spec/controllers/registrations_controller_spec.rb
  spec/system/user_sign_up_spec.rb
Due: ruby-linter, erb-linter

Read me
  README.md
  app/models/feature.rb
Due: ruby-linter

Fix reset password button on mailer
  app/views/layouts/mailer.html.erb
Due: erb-linter

Fix mail reminder session link
  app/views/session_mailer/reminder.html.erb
Due: erb-linter

fix notifications clear all button padding
  app/views/notifications/index.html.erb
Due: erb-linter

Bug fix and improvements
  app/controllers/notifications_controller.rb
  app/controllers/read_notifications_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/user_sessions_controller.rb
  app/views/notifications/index.html.erb
  app/views/sessions/index.html.erb
  config/routes.rb
Due: ruby-linter, erb-linter

Improve specs
  app/helpers/session_helper.rb
  app/models/session.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/_secondary_top_nav.html.erb
  app/views/sessions/_bookmark.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/show.html.erb
  app/views/user_sessions/new.html.erb
  spec/system/agenda_spec.rb
  spec/system/schedule_spec.rb
Due: ruby-linter, erb-linter

fix .env format in readme
  README.md
Due: none

Update README.md
  README.md
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Create LICENSE
  LICENSE
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

feat: Upgrade to Rails 8
  Gemfile
  Gemfile.lock
  app/models/session.rb
  app/models/user.rb
  app/queries/session_query.rb
  bin/brakeman
  bin/rubocop
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/inflections.rb
  public/400.html
Due: ruby-linter

fix: update readme
  README.md
Due: none

fix: upgrade specific gems for security reasons
  Gemfile
  Gemfile.lock
Due: none

Update app/views/schedules/show.html.erb
  app/views/schedules/show.html.erb
Due: erb-linter

Update app/views/sessions/index.html.erb
  app/views/sessions/index.html.erb
Due: erb-linter

Update gems
  Gemfile.lock
Due: none

fix: run bundle to stop ci from failing
  Gemfile.lock
Due: none

fix: password reset form
  app/views/password_resets/new.html.erb
Due: erb-linter

feat: Upgrade to Rails 8 (#201)
  Gemfile
  Gemfile.lock
  README.md
  app/models/session.rb
  app/models/user.rb
  app/queries/session_query.rb
  app/views/password_resets/new.html.erb
  bin/brakeman
  bin/rubocop
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/inflections.rb
  public/400.html
Due: ruby-linter, erb-linter

refactor: remove annotate gem
  Gemfile
  Gemfile.lock
  app/models/conference.rb
  app/models/location.rb
  app/models/profile.rb
  app/models/session.rb
  app/models/speaker.rb
  app/models/tag.rb
  app/models/user.rb
  app/models/web_push_subscription.rb
  lib/tasks/auto_annotate_models.rake
Due: ruby-linter

refactor: upgrade solid queue gem
  Gemfile
  Gemfile.lock
  app/jobs/ping_job.rb
  bin/jobs
  config/application.rb
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/queue.yml
  config/recurring.yml
  db/queue_migrate/20240626184926_create_solid_queue_tables.solid_queue.rb
  db/queue_migrate/20240626184927_add_missing_index_to_blocked_executions.solid_queue.rb
  db/queue_migrate/20240626184928_create_recurring_executions.solid_queue.rb
  db/queue_migrate/20240820180224_create_recurring_tasks.solid_queue.rb
  db/queue_schema.rb
  db/schema.rb
Due: ruby-linter

hotwire native
  app/assets/stylesheets/native.css
  app/controllers/configurations_controller.rb
  app/controllers/profiles_controller.rb
  app/policies/profile_policy.rb
  app/views/abouts/show.html.erb
  app/views/coming_soons/show.html.erb
  app/views/layouts/_secondary_top_nav.html.erb
  app/views/layouts/application.html.erb
  app/views/notification_settings/show.html.erb
  app/views/notifications/index.html.erb
  app/views/password_resets/edit.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/registrations/new.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_bookmark.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
  app/views/user_sessions/new.html.erb
  app/views/users/edit.html.erb
  config/locales/en.yml
  config/routes.rb
  lib/tasks/db.rake
Due: ruby-linter, erb-linter

refactor: remove check_box from profile web push field
  app/views/profiles/edit.html.erb
Due: erb-linter

Path conditions:
  ruby-linter: any of: *.{rb,rake}
  erb-linter: any of: *.erb
  js-linter: any of: *.js
