Repository TelosLabs/rails-world: changes, and which lefthook commands are due for each by the changed paths.
All: ruby-linter, erb-linter, js-linter

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruby-linter:
      glob: "*.{rb,rake}"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true
    erb-linter:
      glob: "*.erb"
      run: bundle exec erblint --lint-all {staged_files}
    js-linter:
      glob: "*.js"
      run: standard --fix {staged_files}
      stage_fixed: true
    fix-typos:
      exclude: '\.(pdf|ttf|jpg|png|csv|cjs)$'
      run: typos --write-changes {staged_files}
      stage_fixed: true

refactor merge conflict
  app/controllers/sessions_controller.rb
  app/views/layouts/_flash_message.html.erb
  app/views/sessions/_bookmark.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/show.html.erb
Due: ruby-linter, erb-linter

Create routes for error pages
  app/controllers/errors_controller.rb
  app/helpers/navigation_helper.rb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  config/application.rb
  config/routes.rb
Due: ruby-linter, erb-linter

Minor fix
  app/views/profiles/show.html.erb
Due: erb-linter

Revisit fix
  app/views/profiles/show.html.erb
Due: erb-linter

Show bookmark only when session is in the future or always if currently in My Schedule view
  app/helpers/navigation_helper.rb
  app/views/sessions/_bookmark.html.erb
Due: ruby-linter, erb-linter

Refactor
  app/mailers/session_mailer.rb
  app/notifiers/session_reminder_notifier.rb
  app/views/session_mailer/reminder.html.erb
  config/locales/en.yml
Due: ruby-linter, erb-linter

Style links whitin rich text
  app/assets/stylesheets/actiontext.css
  app/assets/stylesheets/application.tailwind.css
Due: none

Make back button bar sticky
  app/views/layouts/_header.html.erb
Due: erb-linter

Update app/controllers/abouts_controller.rb
  app/controllers/abouts_controller.rb
Due: ruby-linter

Update app/controllers/sessions_controller.rb
  app/controllers/sessions_controller.rb
Due: ruby-linter

Update app/queries/session_query.rb
  app/queries/session_query.rb
Due: ruby-linter

Update app/helpers/navigation_helper.rb
  app/helpers/navigation_helper.rb
Due: ruby-linter

Update app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/_bottom_navbar.html.erb
Due: erb-linter

Update app/controllers/speakers_controller.rb
  app/controllers/speakers_controller.rb
Due: ruby-linter

add safe navigators and fix
  app/helpers/navigation_helper.rb
  app/helpers/session_helper.rb
Due: ruby-linter

fix
  app/views/layouts/_bottom_navbar.html.erb
Due: erb-linter

remove unnecessary if
  app/views/layouts/_bottom_navbar.html.erb
Due: erb-linter

Refactor
  app/controllers/sessions_controller.rb
  app/queries/session_query.rb
Due: ruby-linter

Remove leftover operator
  app/controllers/sessions_controller.rb
Due: ruby-linter

Setup user session to 1 week
  config/application.rb
Due: ruby-linter

Update session store to 1 month
  config/application.rb
Due: ruby-linter

Fix session layout
  app/assets/stylesheets/application.tailwind.css
  app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/_header.html.erb
  app/views/sessions/index.html.erb
Due: erb-linter

Fix schedule and document height
  app/views/layouts/application.html.erb
  app/views/schedules/show.html.erb
Due: erb-linter

Fix padding in different views
  app/helpers/navigation_helper.rb
  app/views/notification_settings/show.html.erb
  app/views/notifications/index.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/index.html.erb
Due: ruby-linter, erb-linter

New css class
  app/assets/stylesheets/application.tailwind.css
Due: none

Adjust paddings
  app/assets/stylesheets/application.tailwind.css
  app/views/schedules/show.html.erb
  app/views/sessions/index.html.erb
Due: erb-linter

Refactor navigation helper WIP
  app/helpers/navigation_helper.rb
Due: ruby-linter

Rescue hard bounced emails error
  app/notifiers/delivery_methods/custom_email.rb
  app/notifiers/session_reminder_notifier.rb
Due: ruby-linter

Update twitter logo
  app/assets/images/twitter.svg
Due: none

Make the last session card sticky
  app/views/schedules/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/index.html.erb
Due: erb-linter

Add back missing methods
  app/helpers/navigation_helper.rb
Due: ruby-linter

Fix session show when navigating as guest
  app/controllers/sessions_controller.rb
Due: ruby-linter

Improve back navigation button
  app/helpers/navigation_helper.rb
  app/views/layouts/_header.html.erb
Due: ruby-linter, erb-linter

Add system specs for each view
  app/models/speaker.rb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  spec/factories/conferences.rb
  spec/factories/locations.rb
  spec/factories/sessions.rb
  spec/factories/speakers.rb
  spec/models/location_spec.rb
  spec/models/session_spec.rb
  spec/system/sessions/agenda_spec.rb
  spec/system/sessions/profile_spec.rb
  spec/system/sessions/schedule_spec.rb
Due: ruby-linter, erb-linter

New route to edit emails and password
  app/controllers/user_session_settings_controller.rb
  app/views/user_session_settings/edit.html.erb
  config/routes.rb
Due: ruby-linter, erb-linter

move folder
  spec/system/agenda_spec.rb
  spec/system/profile_spec.rb
  spec/system/schedule_spec.rb
Due: ruby-linter

Add agenda status filter system spec and guest user visitng private session system spec
  app/views/sessions/_filters.html.erb
  spec/system/agenda_spec.rb
Due: ruby-linter, erb-linter

Fix profile system spec QR code check
  app/views/profiles/show.html.erb
  spec/system/profile_spec.rb
Due: ruby-linter, erb-linter
