Repository TelosLabs/rails-world: changes, and which lefthook commands are due for each by the changed paths.
All: ruby-linter, erb-linter, js-linter

ruby-linter:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

erb-linter:
  run: bundle exec erblint --lint-all {staged_files}

js-linter:
  run: standard --fix {staged_files}
  stage_fixed: true

Fix Rubocop
  Gemfile
  app/controllers/service_worker_controller.rb
  app/views/service_worker/service_worker.js
Due: ruby-linter, js-linter

Fix ESLint extra space
  app/views/layouts/application.html.erb
Due: erb-linter

Fix blank space padding
  app/views/service_worker/service_worker.js
Due: js-linter

replace stack in filter
  app/views/schedules/show.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/index.html.erb
Due: erb-linter

change filters to use turbo frames
  app/views/schedules/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/index.html.erb
Due: erb-linter

poc turbo offline
  Gemfile
  Gemfile.lock
  app/javascript/application.js
  app/views/layouts/application.html.erb
  app/views/service_worker/service_worker.js
  app/views/service_worker/service_worker.js.erb
  config/importmap.rb
  vendor/javascript/turbo-offline-umd.js
  vendor/javascript/turbo-offline.js
  vendor/javascript/turbo-offline.min.js
  vendor/javascript/turbo-offline.min.js.map
  vendor/javascript/turbo.min.js
  vendor/javascript/turbo.min.js.map
Due: ruby-linter, erb-linter, js-linter

Add index route for profiles
  config/routes.rb
Due: ruby-linter

Add Kaminari gem for pagination
  Gemfile
  Gemfile.lock
Due: none

Add profiles index action with pagination
  app/controllers/profiles_controller.rb
Due: ruby-linter

Add profiles index views with infinite scroll
  app/views/profiles/_profile.html.erb
  app/views/profiles/index.html.erb
  app/views/profiles/index.turbo_stream.erb
Due: erb-linter

Set speaker profiles as public in seed data
  lib/tasks/db.rake
Due: ruby-linter

Add comprehensive tests for profiles index feature
  app/views/profiles/_profile.html.erb
  app/views/profiles/index.html.erb
  spec/controllers/profiles_controller_spec.rb
  spec/system/profiles_index_spec.rb
Due: ruby-linter, erb-linter

Fix profile cards width and mobile responsiveness
  app/views/profiles/index.html.erb
Due: erb-linter

Fix loading spinner animation in profiles infinite scroll
  app/views/profiles/index.html.erb
  app/views/profiles/index.turbo_stream.erb
Due: erb-linter

Refactor profile partial to make only name clickable
  app/views/profiles/_profile.html.erb
Due: erb-linter

Add sticky header to profiles index page
  app/views/profiles/index.html.erb
Due: erb-linter

Replace Profile with Attendees in bottom navigation
  app/views/layouts/_bottom_navbar.html.erb
Due: erb-linter

Add comment explaining turbo_stream format override in profiles controller
  app/controllers/profiles_controller.rb
Due: ruby-linter

Add controller tests for current user exclusion in profiles index
  spec/controllers/profiles_controller_spec.rb
Due: ruby-linter

Add my profile card to profiles index
  app/views/profiles/_my_profile_card.html.erb
  app/views/profiles/index.html.erb
Due: erb-linter

Fix linter issues in profiles views and system tests
  app/views/profiles/_profile.html.erb
  app/views/profiles/index.html.erb
  spec/system/profile_navigation_spec.rb
  spec/system/profiles_index_spec.rb
Due: ruby-linter, erb-linter

Exclude current user from profiles list when signed in
  app/controllers/profiles_controller.rb
Due: ruby-linter

Add system tests for profile navigation updates
  spec/system/profile_navigation_spec.rb
Due: ruby-linter

Fix filters in offline mode
  Gemfile.lock
  app/controllers/service_worker_controller.rb
  app/controllers/sessions_controller.rb
  app/views/service_worker/service_worker.js
  app/views/sessions/_filters.html.erb
Due: ruby-linter, erb-linter, js-linter

keep active filters on reload
  app/views/schedules/show.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/index.html.erb
Due: erb-linter

minor improvements
  app/builders/application_form_builder.rb
  app/helpers/navigation_helper.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/notification_settings/show.html.erb
  app/views/notifications/_notification.html.erb
  app/views/notifications/index.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/_status.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
  app/views/static_pages/account_deletion.html.erb
  app/views/static_pages/privacy_policy.html.erb
  config/tailwind.config.js
Due: ruby-linter, erb-linter, js-linter

Fix flicker
  app/helpers/application_helper.rb
  app/javascript/controllers/dark_mode_controller.js
  app/views/layouts/application.html.erb
  app/views/profiles/guest.html.erb
  app/views/profiles/show.html.erb
Due: ruby-linter, erb-linter, js-linter

minor improvements (#261)
  app/builders/application_form_builder.rb
  app/helpers/navigation_helper.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/notification_settings/show.html.erb
  app/views/notifications/_notification.html.erb
  app/views/notifications/index.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/_status.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
  app/views/static_pages/account_deletion.html.erb
  app/views/static_pages/privacy_policy.html.erb
  config/tailwind.config.js
Due: ruby-linter, erb-linter, js-linter

improve configuration controller
  app/controllers/configurations_controller.rb
  app/javascript/controllers/preserve_scroll_controller.js
Due: ruby-linter, js-linter

improve turbo navigation
  app/controllers/configurations_controller.rb
  app/views/layouts/_bottom_navbar.html.erb
  app/views/profiles/show.html.erb
  app/views/user_sessions/new.html.erb
Due: ruby-linter, erb-linter

improve log in view in native
  app/assets/stylesheets/native.css
  app/controllers/application_controller.rb
  app/controllers/concerns/authentication.rb
  app/controllers/concerns/authorization.rb
  app/controllers/registrations_controller.rb
  app/controllers/user_sessions_controller.rb
  app/views/user_sessions/new.html.erb
Due: ruby-linter, erb-linter

remove redirects
  app/controllers/application_controller.rb
  app/controllers/concerns/authentication.rb
  app/controllers/concerns/authorization.rb
  app/controllers/registrations_controller.rb
  app/controllers/user_sessions_controller.rb
Due: ruby-linter

improve secundary top nav in native apps
  app/assets/stylesheets/native.css
  app/views/layouts/_secondary_top_nav.html.erb
Due: erb-linter

improve redirections
  app/controllers/configurations_controller.rb
  app/views/user_sessions/new.html.erb
Due: ruby-linter, erb-linter

System and colors
  app/assets/images/icons/bookmark-full.svg
  app/assets/images/icons/bookmark-outline.svg
  app/helpers/application_helper.rb
  app/javascript/controllers/dark_mode_controller.js
  app/views/layouts/_bottom_navbar.html.erb
  app/views/layouts/application.html.erb
  app/views/notifications/index.html.erb
  app/views/profiles/edit.html.erb
  app/views/profiles/guest.html.erb
  app/views/profiles/show.html.erb
  app/views/schedules/show.html.erb
  app/views/sessions/_bookmark.html.erb
  app/views/sessions/_card.html.erb
  app/views/sessions/_filters.html.erb
  app/views/sessions/index.html.erb
  app/views/sessions/show.html.erb
  app/views/speakers/show.html.erb
  config/tailwind.config.js
Due: ruby-linter, erb-linter, js-linter

code improvements
  app/helpers/application_helper.rb
  app/helpers/theme_helper.rb
  app/javascript/controllers/dark_mode_controller.js
  app/javascript/utils/cookies.js
  config/importmap.rb
Due: ruby-linter, js-linter

Hide social links on speaker profile if they are not set (#252)
  app/views/speakers/show.html.erb
  spec/factories/profiles.rb
  spec/factories/speakers.rb
  spec/system/speaker_spec.rb
Due: ruby-linter, erb-linter

Refactor profile social links visibility logic
  app/views/profiles/show.html.erb
Due: erb-linter

Hide social links on user profile when not set (#258)
  app/views/profiles/show.html.erb
  spec/system/profile_spec.rb
Due: ruby-linter, erb-linter

chore: Migrate to a different registry account
  config/deploy.yml
Due: none

Path conditions:
  ruby-linter: any of: *.{rb,rake}
  erb-linter: any of: *.erb
  js-linter: any of: *.js
